@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh; */
  /* overflow: hidden; */
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-left: 88px;
  padding-right: 88px;
}

.logo-text {
  padding-left: 16px;
}

.nav-right-menu {
  padding-right: 48px;
}

.divider-nav-menu {
  border-left: 1px solid #ababab;
  height: 8px;
  width: 0;
}

.full-height-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 88px);
  overflow: hidden;
}

.content {
  flex: 1;
  width: 100%;
}

.banner-text-content {
  opacity: 90%;
  width: 35%;
  height: 45%;
}
.banner-text-background {
  background-color: #2e3f55;
}
.banner-image {
  width: 85%;
  height: 95%;
  object-fit: cover;
}

.banner-text-content-title {
  font-size: large;
  font-weight: 600;
}

.banner-text-content-value {
  font-size: small;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 36px;
}
.grid-item {
  font-size: 16px;
  text-align: start;
}

.grid-item-active {
  color: #fcb900;
  margin: 0;
  border-bottom: 1px solid #fcb900;
  display: inline-block;
}

.course-list {
  margin-top: 50px;
  padding: 0 300px;
  margin-bottom: 100px;
}

.popular-course {
  margin-top: 100px;
  margin-bottom: 50px;
}

.popular-course-title {
  padding: 0 300px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: white;
}

.button.left {
  border: 2px solid lightgray;
  color: lightgray;
}

.button.left:hover {
  background-color: lightgray;
  color: white;
}

.button.right {
  border: 2px solid orange;
  color: orange;
}

.button.right:hover {
  background-color: orange;
  color: white;
}
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto; /* Cho phép cuộn ngang */
  white-space: nowrap;
  padding-left: 300px;
  gap: 30px; /* Khoảng cách giữa các mục */
  scrollbar-width: thin; /* Giảm kích thước của thanh cuộn trên Firefox */
}

.item {
  width: 350px; /* Đặt kích thước tối thiểu cho các mục */
  min-height: 100px;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border-radius: 8px;
  font-size: 18px;
  flex-shrink: 0; /* Ngăn các mục bị co lại */
  overflow: hidden;
  padding-bottom: 24px;
}

.item > .thumbnail {
  object-fit: cover;
  aspect-ratio: 1.75;
  max-width: 100%;
  height: 200px;
}

.item > .title {
  padding: 16px 0;
  margin: 0;
  color: #1a2d44;
}

.item > .category {
  background-color: #0072b7; /* Màu nền xanh dương */
  color: white; /* Màu chữ trắng */
  padding: 4px 10px; /* Khoảng đệm */
  font-size: 12px; /* Kích thước chữ */
  border: 2px solid #0072b7;
  border-radius: 2px; /* Bo góc nhẹ */
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
}

.item > .category:hover {
  background-color: white;
  color: #0072b7;
  border: 2px solid #0072b7;
}

.item > .info-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Khoảng cách giữa các nhóm */
  color: #333;
  font-size: 14px;
  margin: 12px 0;
}

.item > .info-container > .info-item {
  display: flex;
  align-items: center;
  gap: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
}

.item > .info-container > .info-item > .icon {
  font-size: 12px;
  color: #888; /* Màu của biểu tượng */
}

.item > .content {
  color: #1a2d44;
  width: 100%;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 16px;
  word-wrap: break-all;
  white-space: normal;
  margin: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 5;
  box-orient: vertical;
}

.wrap-text {
  width: 100%;
  word-wrap: break-all;
  white-space: normal;
  margin: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 5;
  box-orient: vertical;
}

.item > .more {
  font-size: 16px;
  color: #1a2d44;
}

.course-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 36px;
  padding: 0 300px;
}

.course-grid-container > .item {
  margin: auto;
}

.pricing-box {
  width: 260px;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  flex-shrink: 0;
}

.pricing-container {
  margin-bottom: 150px;
}

.pricing-title {
  max-width: 50%;
}

.pricing-options {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  box-sizing: border-box;
}

.faq-container {
  padding: 0 300px;
  margin-bottom: 150px;
}

.faq-item {
  border-bottom: 1px dashed #ddd;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.faq-item .question {
  flex: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 26px 12px;
}

.faq-item .icon-circle {
  width: 30px;
  height: 30px;
  border: 1px solid #1a2d44;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a2d44;
  flex-shrink: 0;
}

.avatar-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a2d44;
  background-color: #f5f5f5;
  flex-shrink: 0;
}

.faq-item .icon {
  font-size: 20px;
}

.faq-item .answer {
  display: none;
  padding: 10px 0;
  color: #333;
  background-color: #f5f5f5;
  padding: 26px 12px;
}

.faq-item.active .answer {
  display: block;
}

.faq-item.active .icon::before {
  content: "-";
  color: orange;
}

.faq-item.active .icon-circle {
  border: 1px solid orange;
}

.faq-item .icon::before {
  content: "+";
  color: #1a2d44;
}

.footer-container {
  background-color: #363946;
  padding: 0 300px;
}

.footer-content {
  padding: 24px 0;
  column-gap: 100px;
}

.footer-content-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 100px;
  row-gap: 16px;
}

.footer-content-grid-item {
  color: white;
  font-size: 12px;
}

.hidden {
  display: none !important;
}

.button-box-custom {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.logined-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.scale-text {
  margin: 0;
  font-size: clamp(8px, 0.7vw, 24px) !important;

  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.dropdown-menu[data-bs-popper] {
  left: -120% !important;
}

@media (max-width: 1400px) {
  .main-container {
    padding: 0;
  }

  .course-grid-container {
    grid-template-columns: auto auto;
  }

  .faq-container {
    margin-bottom: 100px;
  }
}

@media (max-width: 1200px) {
  .main-container {
    padding: 0;
  }

  .logo-text {
    padding-left: 0px;
  }

  .nav-right-menu {
    padding-right: 0px;
  }

  .banner-text-content {
    opacity: 90%;
    width: 55%;
  }

  .course-list,
  .horizontal-scroll-container,
  .faq-container,
  .footer-container,
  .popular-course-title {
    padding: 0 100px;
  }

  .course-grid-container {
    padding: 0 100px;
    grid-template-columns: auto auto;
  }

  .pricing-title {
    max-width: 70%;
  }
}

@media (max-width: 991.98px) {
  .banner-text-content {
    opacity: 90%;
    width: 65%;
  }

  .nav-link {
    font-size: x-small !important;
  }

  .grid-container {
    grid-template-columns: auto auto;
  }

  .course-list,
  .horizontal-scroll-container,
  .faq-container,
  .footer-container,
  .popular-course-title {
    padding: 0 50px;
  }

  .grid-item {
    font-size: 12px;
  }

  .course-grid-container {
    padding: 0 50px;
    grid-template-columns: auto;
  }

  .course-grid-container > div:nth-child(n + 4) {
    display: none;
  }

  .pricing-title {
    max-width: 90%;
  }

  .button-box-custom {
    gap: 1rem;
  }
  .navbar-expand-md .offcanvas {
    visibility: hidden !important;
  }

  .offcanvas {
    visibility: hidden !important;
  }

  .divider-nav-menu {
    border-left: none; /* Bỏ đường viền dọc */
    border-top: 1px solid #ababab; /* Thêm đường viền ngang */
    width: 100%; /* Cho đường chia nằm ngang toàn bộ chiều rộng */
    height: 1px; /* Đặt chiều cao cho đường chia ngang */
    margin: 0.5rem 0; /* Thêm khoảng cách trên dưới nếu cần */
  }

  .nav-custom {
    width: 100%;
  }

  .nav-list-item {
    width: 100%;
  }

  .logined-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .logined-item {
    width: 100%;
  }

  .notification-icon {
    display: none;
  }

  .course-info-nav {
    background-color: #f5f6f8;
    padding: 1.5rem;
  }

  .user-info-nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .scale-text {
    font-size: clamp(12px, 0.7vw, 24px) !important;
  }
}

/* Khi ở màn hình nhỏ (dưới 768px) */
@media (max-width: 767.98px) {
  .divider-nav-menu {
    border-left: none; /* Bỏ đường viền dọc */
    border-top: 1px solid #ababab; /* Thêm đường viền ngang */
    width: 100%; /* Cho đường chia nằm ngang toàn bộ chiều rộng */
    height: 1px; /* Đặt chiều cao cho đường chia ngang */
    margin: 0.5rem 0; /* Thêm khoảng cách trên dưới nếu cần */
  }

  .offcanvas-lg.offcanvas-start {
    width: 320px !important;
  }

  .banner-text-content {
    opacity: 90%;
    width: 100%;
    height: auto;
  }

  .banner-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }

  .banner-text-background {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
  }

  .banner-text-content-value {
    font-size: small;
  }

  .nav-custom {
    width: 100%;
  }

  .button-box-custom {
    width: 100%;
  }

  .nav-list-item {
    width: 100%;
  }

  .grid-item {
    font-size: 10px;
  }

  .course-list,
  .faq-container,
  .footer-container,
  .horizontal-scroll-container {
    padding: 0 1.5rem;
    margin-bottom: 50px;
  }

  .popular-course-title {
    padding: 0 1.5rem;
    margin-bottom: 0;
  }

  .popular-course {
    margin-top: 0;
    margin-bottom: 0;
  }

  .item {
    width: 300px;
  }

  .course-grid-container {
    padding: 0 1.5rem;
  }

  .pricing-container {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .faq-item .question {
    align-items: start;
  }

  .footer-content {
    column-gap: 24px;
  }

  .footer-content-grid {
    grid-template-columns: auto;
  }
}

@media (max-width: 576px) {
  .full-height-container {
    min-height: calc(100vh - 88px - 100px);
  }

  .course-list {
    margin-bottom: 50px;
  }

  .popular-course-title {
    margin-bottom: 0;
  }
  .nav-custom {
    width: 100%;
  }
}
