@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.main-container {
  padding-left: 88px;
  padding-right: 88px;
}

.logo-text {
  padding-left: 16px;
}

.nav-right-menu {
  padding-right: 48px;
}

.divider-nav-menu {
  border-left: 1px solid #ababab;
  height: 8px;
  width: 0;
}

/* Khi ở màn hình nhỏ (dưới 768px) */
@media (max-width: 767.98px) {
  .divider-nav-menu {
    border-left: none; /* Bỏ đường viền dọc */
    border-top: 1px solid #ababab; /* Thêm đường viền ngang */
    width: 100%; /* Cho đường chia nằm ngang toàn bộ chiều rộng */
    height: 1px; /* Đặt chiều cao cho đường chia ngang */
    margin: 0.5rem 0; /* Thêm khoảng cách trên dưới nếu cần */
  }
}

@media (max-width: 1200px) {
  .main-container {
    padding: 0;
  }

  .logo-text {
    padding-left: 8px;
  }

  .nav-right-menu {
    padding-right: 8px;
  }
}
